.containerHome {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 60px 40px;
}

@media (min-width: 992px) {
  .container {
    padding: 50px;
  }
}
